*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 60px;
    padding: 10px;
}
.logo{
    min-width: 150px;
}

.entrar{
    
}

.butoes{
    background-color: transparent;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
.butoes:hover{
    border: 1px solid red;
    transition: 1.0s;
    cursor: pointer;
}

@media (max-width:620px){
    .header{
        justify-content: center;
    }
    .icon{
        display: none;
    }
    .logo{
        padding: 15px;
    }
}