*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container{
    background-color: darkcyan;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#header{
    border:2px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    font-size: 20px;
}

#main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 15px;
    margin: auto;
    width: 80%;
    grid-auto-rows: 2fr 1fr 1fr;
    grid-template-areas: 
    "item1 item1 item1"
    "item2 item3 item3"
    "item4 item5 item6";
}
.itens{
    border: 2px solid black;
    display: flex;
    min-height: 200px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 0 auto;
    background-color: white;
}
.item1{
    grid-area: item1;
    min-width: 250px;
    margin-top: 20px;
}
.item2{
    grid-area: item2;
    min-width: 200px;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
    min-width: 200px;
    margin-bottom: 20px;
}
.item5{
    grid-area: item5;
    margin-bottom: 20px;
}
.item6{
    grid-area: item6;
    margin-bottom: 20px;
}

#footer{
    border:2px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    font-size: 20px;
}

@media (max-width:425px){
    #main-container{
        grid-template-areas: 
        "item1 item1 item1"
        "item2 item2 item2"
        "item3 item3 item3"
        "item4 item4 item4"
        "item5 item5 item5"
        "item6 item6 item6";
    }
}