*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.imagens{
    width: 95%;
    height: auto;
    margin-left: 2%;
}

.texto{
    text-align: justify;
    margin-left: 2%;
    margin-right: 4%;
}